<div id="search">
  סנן לפי עיר
  <select id="searchByCity" >
    <option>aa</option>
    <option>b</option>
    <option>c</option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
  </select>
  סנן לפי קומה
  <input type="number" id="searchByFloor" min="0">
  סנן לפי מספר חדרים
  <input type="number" id="searchByRoomsNamber" min="1"> <!--חסר נקודה עשרונית-->
  סנן לפי מחיר
  <select id="searchByPrice">
    <option>1000-2000</option>
    <option>2000-3000</option>
    <option>3000-4000</option>
  </select>
</div>
<br>
<div *ngFor="let item of apartmentList">{{item.city}}|{{item.address}}</div>
